[submodule ".registry"]
	path = .registry
	url = https://github.com/rpodcast/rpodcast.r-universe.dev
	branch = HEAD
[submodule "op3r"]
	path = op3r
	url = https://github.com/rpodcast/op3r
[submodule "podindexr"]
	path = podindexr
	url = https://github.com/rpodcast/podindexr
[submodule "shinystate"]
	path = shinystate
	url = https://github.com/rpodcast/shinystate
